<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test_Automation" verbose="1" >
    <test name="Mortgage_Calculator" >
        <packages>
            <package name="automation_test.mortgage_calculator"/>
        </packages>
    </test>
    <test name="PHP_Travel">
        <classes>
            <class name="automation_test.php_travel.TestNGWebDriver"/>
        </classes>
    </test>
    <test name="API_Test">
        <packages>
            <package name="api_test"/>
        </packages>
    </test>
</suite>